#artifact {
  text-align: left;
}

#artifact > div,
#artifact > section {
  margin-bottom: 3rem;
}

#artifact #back {
  display: block;
  margin-bottom: 3rem;
}

#artifact-header {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-areas: 'title' 'actions' 'images' 'summary';

  #artifact-title {
    grid-area: title;
    min-height: 0;
    min-width: 0;
  }

  #artifact-actions {
    grid-area: actions;
    min-height: 0;
    min-width: 0;
  }

  #artifact-media {
    grid-area: images;
    min-height: 0;
    min-width: 0;
  }

  .artifact-summary {
    grid-area: summary;
    min-height: 0;
    min-width: 0;
  }

  &.physical-seal #artifact-media #artifact-media-carousel .carousel-item figure {
    aspect-ratio: unset;
    margin-top: 1rem;
    width: auto;
  }
}

@media screen and (min-width: 1220px) {
  #artifact-header {
    grid-template-areas: 'images title' 'images actions' 'images summary';
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;

    &.physical-seal {
      grid-template-areas: 'title summary' 'actions actions' 'images images';
      grid-template-columns: auto;
      grid-template-rows: auto;
    }

    #artifact-media {
      min-width: auto;
    }
  }
}

#artifact-media {
  @include variables-alternative(background-color, #000, --black);
  position: relative;

  #artifact-media-carousel {
    border: 1px solid #000;

    .carousel-item {
      // Account for carousel controls
      margin-bottom: 133px;
      padding: 0 60px;

      figure {
        // Maximum thumbnail size: 400x800px
        aspect-ratio: 4 / 8;
        max-width: 100%;
        width: 400px;

        img {
          max-width: 100%;
        }
      }

      .carousel-caption {
        bottom: -113px;
        min-height: 113px;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      cursor: pointer;
      width: 60px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background: transparent;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      -webkit-text-stroke: 1px #000;
    }

    .carousel-indicators li {
      cursor: pointer;

      &::after {
        bottom: -20px;
        height: 20px;
      }
    }
  }

  & > .dropdown {
    position: absolute;
    right: 0;
    top: 0;

    button {
      background: transparent;
      border: 0;
      padding: 20px;

      .fa {
        font-size: 20px;
        -webkit-text-stroke: 1px #000;
        width: 20px;
      }

      &::after {
        content: none;
      }
    }
  }
}

.artifact-summary {
  @include variables-alternative(background-color, #f7f7f7, --foggy-grey);
  padding: 3rem 2rem;

  & > div {
    flex: 1 1 50%;
    min-width: 10em;
  }

  p {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    margin: 1rem 0 0;
    text-transform: uppercase;
    width: 100%;
  }
}

.artifact-detail {
  @include variables-alternative(border-color, #000, --black);
}

#artifact .related > div {
  max-width: 100%;
  overflow-x: auto;
}

#artifact .related table * {
  border-color: #ccc;
  border-width: 1px;
}

#artifact .related table tr {
  border-bottom-style: solid;
}

#artifact .related table td,
#artifact .related table th {
  padding: 1em;
}

#artifact .related table td:empty::after {
  color: #ccc;
  content: 'NULL';
  font-style: italic;
}

#artifact .related table td:not(:first-child),
#artifact .related table th:not(:first-child) {
  border-left-style: solid;
}

.artifact-desc {
  font-size: 24px;
}

.artifact-detail {
  section {
    label {
      font-family: 'Open Sans';
      font-size: 24px;
      font-weight: lighter;
      margin-bottom: 0;
      padding: 1rem 0;
    }
  }
}

.artifact-sub-heading {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: lighter;
  margin-left: 1.25rem;
  padding: 1rem 0;
}

.export-grid {
  .row {
    min-width: 50rem;

    a,
    h3,
    h4 {
      display: block;
      font-family: 'Open Sans';
      font-weight: lighter;
      margin: 1rem 0.75rem;
    }

    h3 {
      font-size: 22px;
      font-weight: 400;
    }

    h4 {
      font-size: 20px;
    }
  }
}

.accordion-1 h3 {
  font-size: 24px;
  font-weight: lighter;
}

#parent-div {
  margin: 0 auto;
  max-width: 1400px;
}

.artifact-detail ul {
  list-style-type: none;
}

.line-art {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 3px 6px;
  text-decoration: none;
}

.artifact-acc .accordion > section > .accordion-title {
  box-shadow: none;
}

#single-artifact-btn2 {
  background-color: #495057;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
}

.ar-hr {
  background-color: #000;
}

.export-grid .row {
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.export-grid .row h3 {
  color: #1661ab;
}

@media only screen and (max-width: 992px) {
  .export-grid {
    .row {
      min-width: 40rem;
    }
  }
}

@media only screen and (max-width: 600px) {

  .artifact-summary {
    padding: 1.5rem;
  }

  .single-art-heading {
    font-size: 32px;
  }

  .artifact-detail {
    section {
      label {
        font-size: 1rem;
        padding: 0.25rem 0;
      }
    }
  }

  .export-grid {
    .row {
      min-width: 95vw;
    }
  }

  .artifact-desc {
    font-size: 1rem;
  }
}

.btn-ar {
  background-color: #fff;
}

#ar-txt,
.btn-ar::after {
  color: #495057;
}

#single-artifact-dd .dropdown-item {
  color: #000;
  text-decoration: none;
}

#single-artifact-btn {
  background-color: #495057;
  border: 1px solid #fff;
  border-radius: 5px;
}

.translate-indent {
  i {
    margin-left: 15px;
  }
}

// Artifact-citation-box

.artifacts-cite-bottom {
  margin-left: 11%;
  width: 80%;
}
