#docs-body {
  // Headings
  .heading-permalink {
    display: inline-block;
    margin-left: -1em;
    width: 1em;
  }

  // Code blocks
  code,
  pre {
    background-color: var(--cloudy-grey);
    border: 1px solid var(--grey);
    border-radius: 0.5em;
    color: inherit;
  }

  code {
    padding: 0.125em 0.5em;
  }

  pre {
    padding: 0.5em;
  }

  pre code {
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  // Blockquotes
  blockquote {
    border-left: 0.25em solid var(--grey);
    color: #808080;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
  }

  // Images
  img {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  #docs-body .heading-permalink {
    margin-left: 0;
  }
}
