// This file has all the necessary css for
// journals single article web view page.

#article_info {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.2;
}

#article_tabs {
  margin-bottom: 2.25rem;
  margin-top: 1.5rem;

  .nav-link {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 3px;
    position: relative;
  }

  .nav-link.active {
    color: #1661ab;
  }

  .nav-link.active::after {
    background-color: currentColor;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
  }

  .download_button {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-bottom: 1%;
  }
}

#article_single_view #content {
  h2 {
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1.25rem !important;
    padding: 10px 0;
  }

  h4 {
    font-size: 1rem !important;
    padding: 10px 0;
  }

  .cuneiform {
    font-family: CuneiformComposite;
    font-size: 12pt;
  }

  .hi {
    padding-left: 22px;
    text-indent: -22px;
  }

  .i {
    padding-left: 22px;
  }

  sub {
    bottom: -0.01em;
    font-size: smaller;
    vertical-align: -2pt;
  }

  sup {
    font-size: smaller;
    top: -0.26em;
    vertical-align: 2pt;
  }

  .csl-entry {
    margin-bottom: 0.5em;
    padding-left: 3em;
    text-indent: -3em;
  }

  table {
    border-collapse: collapse;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;

    th,
    td {
      margin: 0;
      padding: 5px;
    }

    tr {
      border-collapse: collapse;
      margin: 0;
    }
  }

  figure {
    border: 0.5em solid;
    border-color: var(--grey);
    padding: 0.5em;

    figcaption {
      margin-top: 0.5em;
    }
  }

  // img {
  // max-height: 60vh;
  // max-width: 100%;
  // }
}

#article_single_view #reviews {
  .review_hi {
    font-size: 1.75rem;
    margin-bottom: 19px;
    margin-top: 32px;
  }

  .review_fi {
    background-color: #fcfcfc;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 6px;
    padding: 7px;
  }

  .comment {
    background-color: #fcfcfc;
    font-size: 16px;
    font-style: 'Open Sans';
    margin-bottom: 16px;
    margin-top: 11px;
    padding: 12px 20px;
  }

  .fi_icon {
    color: #00f;
  }

  .discuss {
    margin-bottom: 1em;
  }
}
