// This file has all the necessary css for
// journals display & dashboard pages.

@mixin keyframes($name) {
  @keyframes #{$name}{
    @content;
  }
}

#converter-progress.animate div {
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-name: progress;

  @include keyframes (progress) {
    from {
      opacity: 0;
      width: 0%;
    }

    50% {
      opacity: 1;
      width: 100%;
    }

    to {
      opacity: 0;
      width: 0%;
    }
  }
}

#add-journal-typeselect {
  margin-bottom: 2%;
  width: 50%;
}

#link_status > tr > td {
  border: 1px solid #000;
  text-align: center;
}

#link_status > tr > td > button {
  background-color: #017bfe;
  border: 1px solid #808080;
  color: #fbf9f9;
  outline: none;
}

#link_status > tr > th {
  border: 1px solid #000;
  text-align: center;
}

#link_status {
  border: 1px solid;
  display: none;
  margin-left: 0;
  margin-top: 5%;
  width: 100%;
}
