// These styles were previously found in _searchbar.scss but mostly used in other
// places.

.input-background {
  background-color: #fff;
  border: solid 1px #ced4da;
  min-width: 261px;
}

.input-background-sm {
  background-color: #fff;
  border: solid 1px #ced4da;
  min-width: 100%;
}

.input-background-child-md {
  background-color: #fff;
  border: solid 1px #ced4da;
  height: 38px;
  margin-bottom: 10px;
}

.line {
  background-color: #ccc;
  height: 1px;
  margin-top: 40px;
  width: 120px;
}
