#reader-viewer-container {
  background-color: #000;
  flex-grow: 1;
}

#reader-viewer-container #viewer {
  height: 100vh;
}

#reader-viewer-container noscript img {
  max-height: 100%;
  max-width: 100%;
}

#reader-viewer-container > button[data-toggle="collapse"] {
  bottom: 50%;
  right: 0;
}

#reader-viewer-container > button[data-toggle="collapse"].collapsed .fa::before {
  content: '\f053';
}

#reader-viewer-container .a9s-annotation .a9s-inner {
  stroke: #f00 !important;
  stroke-width: 4 !important;
}

#reader-info {
  flex: 0 0 30em;
  flex-direction: column;
  height: 100vh;
  max-width: 35%;
  transition: none !important;
}

#reader-info.show {
  display: flex;
}

.lineart #reader-viewer-container {
  background-color: #fff;
}

.lineart #reader-viewer-container button,
.lineart #reader-info,
.lineart #reader-info h2 a {
  background-color: var(--foggy-grey) !important;
  color: #000 !important;
}
