.res-header {
  font-size: 36px;
  font-weight: normal;
}

.resource-des {
  font-size: 16px;
}

@media only screen and (min-width: 992px) {
  .res-header {
    font-size: 48px;
    padding-left: 2%;
  }
}
