.search-media {
  padding-top: 15px;

  figure {
    margin: 0 auto 1rem;
    max-height: 800px;
    max-width: 400px;
    text-align: center;
  }

  img {
    max-width: 100%;
    width: auto;
  }

  figcaption {
    margin: 0 2rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
  }

  hr {
    border-color: currentColor;
    margin: 0 -15px;
  }

  a {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 992px) {
  .search-media {
    img {
      padding: 1rem;
      padding-bottom: 0;
      padding-top: 2rem;
    }

    figcaption {
      margin: 0 1rem;
    }
  }
}

#search-filters .accordion {
  .accordion-title {
    border-color: #d3d3d3;
    box-shadow: none;
    margin: 0;
    padding: 0.15rem 1rem;

    label {
      font-size: 16px;
      padding-right: 0;
    }
  }

  .detail-leaf {
    max-height: 442px;
    overflow-y: auto;
  }
}

.search-card-media {
  background-color: #000;

  .search-media * {
    color: #fff;
  }

  &.bg-white .search-media * {
    color: #000;
  }
}

.search-card-content > h2 a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .search-card-media {
    background-color: #000;
    max-width: 430px;
  }

  .search-card-content {
    flex-grow: 1;
    max-width: none;
  }
}

#search-results-compact {
  &,
  tr {
    position: relative;
  }

  &.shadow-left th:first-child::before,
  &.shadow-right::after {
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 3em;
  }

  &.shadow-left th:first-child::before {
    background: linear-gradient(90deg, #fff, transparent);
    left: 100%;
  }

  &.shadow-right::after {
    background: linear-gradient(270deg, #fff, transparent);
    pointer-events: none;
    right: 0;
  }

  th:first-child {
    left: 0;
  }
}
