.profile-image-responsive {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(80%);
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;

}

.profile-image-responsive::before {
  content: '';
  display: block;
  padding-top: 90%;
  width: 100%;

}

.staff-row .card-header {
  background-color: transparent;
  border-bottom: 0;
  padding: 0;
}

.staff-row .card-body {
  margin-top: -20px;
  padding: 0;
}

.staff-row .card {
  border: 0;
}
