#dendrogram-chart {
  .link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1px;
  }

  text {
    fill: #000;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  .xAxis .tick text {
    fill: #000;
  }

  .grid .tick line {
    opacity: 0.7;
    stroke: #808080;
    stroke-dasharray: 5, 10;
  }

  .grid path {
    stroke-width: 0;
  }

  .node circle {
    fill: #999;
  }

  .node--internal circle {
    fill: #555;
  }

  .node--internal text {
    font-size: 16px;
    text-shadow: 0 2px 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  }

  .shadow {
    filter: drop-shadow(-1.5px -1.5px 1.5px #000);
  }
}
