td {
  margin: 0;
  padding: 5px;
}
tr {
  margin: 0;
}
img {
  margin-bottom: 10px;
  margin-top: 50px;
  width: 100%;
}
tr {
  border-collapse: collapse;
}
.second-heading {
  font-size: 18px;
  font-weight: bold;
}
.cuneiform {
  font-family: CuneiformComposite;
  font-size: 12pt;
}

.hi {
  padding-left: 22px;
  text-indent: -22px;
}

.i {
  padding-left: 22px;
}

table {
  border-collapse: collapse;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0.0001pt;
  margin-left: 15pt;
  margin-right: 5pt;
  margin-top: 0;
  padding: 5px;
  text-align: justify;
  text-justify: inter-word;
  width: 100%;
}

sub {
  font-size: smaller;
  vertical-align: -2pt;
}

sup {
  font-size: smaller;
  vertical-align: 2pt;
}

.csl-entry {
  margin-bottom: 0.5em;
  padding-left: 3em;
  text-indent: -3em;
}
