// Cite Button
.cite-button {
  align-items: center;
  background-color: #f0f0f0;
  border: 2px solid #f0f0f0;
  border-radius: 60px;
  bottom: 80px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 17px;
  height: 35px;
  max-width: 32px;
  outline: none !important;
  overflow: hidden;
  position: fixed;
  right: 60px;
  text-decoration: none;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;

  &:hover {
    max-width: 200px;
  }

  .cite-button-text {
    color: #000;
    padding-left: 15px;
    padding-right: 10px;
    white-space: nowrap;
  }
}

.cite-menu {
  background-color: #fff;
  border-radius: 2px;
  bottom: 117px;
  -moz-box-shadow: 2px 2px 10px rgba(188, 188, 188, 0.25);
  -webkit-box-shadow: 2px 2px 10px rgba(188, 188, 188, 0.25);
  box-shadow: 2px 2px 10px rgba(188, 188, 188, 0.25);
  display: none;
  padding: 10px;
  position: fixed;
  right: 55px;
  width: 360px;

  .cite-menu-heading {
    font-size: 18px;
    padding-bottom: 5%;
    position: relative;
    text-align: center;
  }

  .copy-to-clipboard {
    bottom: 0;
    cursor: pointer;
    display: inline;
    margin-left: 5px;
    position: relative;
    text-align: center;
    width: 200px;
  }

  .cite-content {
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    .cite-content-text fieldset {
      border: none !important;
      display: none;
      margin-top: 0 !important;

      &.show {
        display: block;
      }
    }
  }

  .bibtex-fieldset {
    height: 175px;
    overflow-y: scroll;
  }

  .ris-text {
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .cite-menu-tabs .tabs {
    cursor: pointer;
    margin: 2px 5px 0;
    padding-bottom: 10px;

    &:hover,
    &.active {
      border-bottom: 1px solid #2196f3;
    }
  }

  .cite-text {
    padding: 2px !important;
    padding-left: 10px !important;
    text-align: left !important;
  }

  .csl-entry {
    margin-bottom: 0 !important;
    margin-left: 12px !important;
    padding-left: 0 !important;
    text-align: left !important;
    text-indent: 0 !important;
  }

  .cite-menu-close {
    cursor: pointer;
    opacity: 0.3;
    position: absolute;
    right: 26px;
    top: 0;
  }

  .cite-menu-close:hover {
    opacity: 1;
  }

  .cite-menu-close::before,
  .cite-menu-close::after {
    background-color: #333;
    content: ' ';
    height: 23px;
    left: 15px;
    position: absolute;
    width: 2px;
  }

  .cite-menu-close::before {
    transform: rotate(45deg);
  }

  .cite-menu-close::after {
    transform: rotate(-45deg);
  }
}

// Cite Bottom Styling
.cite-bottom {
  margin-top: 20px;
  width: -webkit-fill-available;

  fieldset {
    border: 1px solid #1661ab !important;
    border-radius: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 10px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 5.6px !important;
  }

  legend {
    background-color: transparent !important;
    border-radius: 0 !important;
    color: #1661ab !important;
    font-size: 20px !important;
    font-weight: normal !important;
    margin-left: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: left !important;
    width: auto !important;
  }

  .csl-entry {
    margin-bottom: 0 !important;
    margin-left: 12px !important;
    padding-left: 0 !important;
    text-align: left !important;
    text-indent: 0 !important;
  }

  #sample1,
  #sample {
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
      height: 15px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .tabset > input[type="radio"] {
    left: -200vw;
    position: absolute;
  }

  .tabset .tab-panel {
    display: none;
  }

  .tabset .tab-panels {
    display: inline-block;
    width: -webkit-fill-available;
  }

  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }

  .tabset > label {
    border-bottom: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    margin-left: 10px;
    padding: 10px 10px 0;
    position: relative;
    text-align: left !important;
  }

  .tabset > label::after {
    background: #fff;
    bottom: -3px;
    content: '';
    height: 4px;
    left: 1px;
    position: absolute;
    width: -webkit-fill-available;
  }

  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #1661ab;
  }

  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #1661ab;
  }

  .tabset > input:checked + label {
    margin-bottom: -1px;
  }

  .prop {
    display: inline-block;
  }

  .bibtex-display {
    height: 150px;
    overflow-y: scroll;
  }

  .copy-clipbaord-btn-bottom {
    background-color: #fff;
    border: 1px solid #1661ab;
    border-radius: 4px;
    color: #1661ab;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    margin-top: 3px;
    outline: none;
  }

  button:hover,
  button:focus {
    outline: none;
  }

  .cite-download-icon {
    background-color: #fff;
    border: 1px solid #1661ab;
    border-radius: 4px;
    color: #1661ab;
    display: none !important;
    font-size: x-small;
    margin-left: 0 !important;
    margin-right: 5px !important;
    margin-top: 3px;
    outline: none;
    padding-bottom: 4px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    padding-top: 4px !important;
  }
}

@media screen and (max-width: 540px) {
  .cite-bottom {
    .tabset > label {
      font-size: small;
      margin-left: 2px;
      padding: 4px 4px 0;
    }

    .copy-clipbaord-btn-bottom {
      font-size: 14px;
      margin-right: 0 !important;
    }

    .cite-download-btn {
      display: none !important;
    }

    .cite-download-icon {
      display: inline !important;
    }
  }

  .cite-menu {
    bottom: 109px;
    right: 7px;

    .cite-button {
      bottom: 73px;
      right: 32px;
    }

    .cite-menu-close {
      right: -1%;
      top: 5%;
    }
  }
}
