.entity-picker {
  position: relative;

  input {
    width: 100%;
  }

  .entity-picker-results ol {
    background-color: #fff;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;

    li {
      border: solid #ced4da;
      border-width: 0 1px 1px;
      padding: 0.375rem 0.75rem;
      position: relative;

      button {
        background: transparent;
        border: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;

        &:hover {
          background-color: #000;
          opacity: 0.05;
        }

        &:focus {
          background-color: #000;
          opacity: 0.1;
        }
      }
    }
  }

  &:not(:focus-within) ol {
    display: none;
  }
}
