.progress-banner {
  align-items: center;
  display: flex;
  padding-bottom: 2em;
  padding-top: 0.5em;

  .progress-banner-line {
    background-color: var(--grey);
    flex: 1 0;
    height: 1em;

    &.progress-banner-completed {
      background-color: var(--cdli-blue);
    }
  }

  .progress-banner-node {
    height: 1em;
    position: relative;

    & .progress-banner-step {
      background-color: var(--grey);
      display: block;
      font-weight: bold;
      height: 2em;
      line-height: 2em;
      margin-top: -0.5em;
      width: 2em;
    }

    & .progress-banner-label {
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &.progress-banner-completed .progress-banner-step {
      background-color: var(--cdli-blue);
      color: #fff;
    }
  }

  & .progress-banner-node:first-child .progress-banner-label {
    justify-content: left;
  }

  & .progress-banner-node:last-child .progress-banner-label {
    justify-content: right;
  }
}
