.css-toggle {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;
}

.css-toggle input,
.css-toggle input[readonly] {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.toggle-slider {
  background-color: #dfdfdf;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.toggle-slider::before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 16px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 16px;
}

input:checked + .toggle-slider {
  background-color: #0069d9;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #0069d9;
}

input:checked + .toggle-slider::before {
  -ms-transform: translateX(26px);
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

// Rounded sliders
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round::before {
  border-radius: 50%;
}
