$bordercurve: 0;
$viewerbgcolor: rgb(0, 0, 0);
$viewerheight: 480px;
$viewerwidth: 640px;

.canvas {
  box-sizing: border-box;
  height: $viewerheight;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  width: $viewerwidth;
}

img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.threeDcontainer {
  height: $viewerheight;
  margin: 0 auto;
  width: $viewerwidth;
}

#progress {
  display: none;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
}

#threeDrenderer {
  border: 1px solid #a0a0a0;
  border-radius: $bordercurve;
}

.infoText {
  text-align: center;
}

#iconbar {
  left: 10px;
  position: absolute;
  top: 10px;
}

#lowericonbar {
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.icons {
  img {
    cursor: pointer;
    margin-bottom: 6px;
    opacity: 0.5;
    width: 25px;
    }
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.viewer {
  background-color: $viewerbgcolor;
}

#help {
  background-color: rgba(0, 0, 0, 0.2); // Black background with opacity
  border-radius: $bordercurve;
  color: #fff;
  display: none; // Hidden by default
  height: $viewerheight; // Full height (cover the whole 3D viewer view port)
  position: absolute; // Sit on defined position of the page content
  width: $viewerwidth; // Full width (cover the whole 3D viewer view port)
  z-index: 2; // Specify a stack order in case you're using a different order for other elements
}

.help-header {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
  opacity: 1;
  text-align: center;
  text-transform: uppercase;

  .help-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
  }
}

.help-body {
  font-size: 16px;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  position: relative;

  img {
    margin-top: 20%;
    position: relative;
    width: 18%;
  }

  .hads {
    font-weight: 500;
    text-transform: capitalize;
  }

  .conts {
    display: block;
    font-weight: 200;
  }
}

.animate {
  animation: fadeIn 500ms ease-out backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(250px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 425px){
  .canvas {
    height: 355px;
    width: 320px;
  }

  .threeDcontainer {
    height: 355px;
    width: 320px;
  }

  .icons {
    img {
      cursor: pointer;
      width: 25px;
      }
  }

  .infoText {
    text-align: center;
  }

  .help-header {
    margin-bottom: 60px;
  }

  .help-header {
    .help-icon {
      right: 10px;
      top: 10px;
      width: 15px;
    }
  }

  .help-body {
    .conts {
      display: none;
    }

    img {
      width: 50%;
    }

    .hads {
      font-size: small;
    }
  }
}
